# Ignore everything in 0_data/
0_data/*
# But keep this one file
!0_data/grid_10k_amazon_uncertainty_propagation

0_results/figures/*

# Ignore virtual environment directories
venv/
.env/
**/*env*/

# ignore temporary workspace files
/.RData
/.Rhistory
.ipynb_checkpoints
__pycache__
.jupyter
.vscode
*nohup*
